# localports
HTTP_APP_PORT=80
HTTPS_APP_PORT=445
DB_MARIADB_PORT=3360
HTTP_MAILPIT_PORT=8080
SMTP_MAILPIT_PORT=1055

MARIADB_ROOT_PASSWORD=""
MARIADB_DATABASE="dev_wiki"
MARIADB_USER="dev"
MARIADB_PASSWORD=""
