# System Files
[Tt]humbs.db
*.DS_Store
/.idea
/.vscode
.directory
.phpunit.result.cache
/*.bak
/*.sql

# Project directories
/_*
/vendor
/data
node_modules

# Project Files
/config.php
/.htaccess
/robots.txt
/error_log

