# System Files
[Tt]humbs.db
*.DS_Store
/.idea
/.vscode
.directory
.phpunit.result.cache
/*.bak
/*.sql
/.env
/.env.*
!/.env.example

# Project directories
/_*
/vendor
/data
node_modules
/public

# Project Files
/config.php
/.htaccess
/robots.txt
/*log

