# System Files
[Tt]humbs.db
*.DS_Store
/.idea
/.vscode
.directory
.phpunit.result.cache

# Project directories
/assets
/vendor
/plugin
/html/theme-*
/_*
/data
/data_*
/docs/api
node_modules

# Project Files
/src/config/config.php
/src/config/_config*
/.htaccess
/_.htaccess*
/*.bak
/*.sql

