parameters:
  level: 7
  tmpDir: data/private/tmp/phpstan
#  checkGenericClassInNonGenericObjectType: false
  treatPhpDocTypesAsCertain: false
  bootstrapFiles:
    - _prepend.php
  excludePaths:
    - data
    - html
    - vendor/ttek/tk-table/templates
    - vendor/ttek/tk-form/templates
    - vendor/ttek/tk-domtemplate/docs
    - vendor/ttek/tk-base/Bs/Traits/OrderByTrait.php
  paths:
    - src
    - bin
    - vendor/ttek
  ignoreErrors:
    - identifier: missingType.iterableValue
