
html {
  /*font-size: 1em;*/
}
body {
  padding-top: 5rem;
  padding-bottom: 3rem;
  color: #5a5a5a;
  background-color: #FFF;
}
.nav-bar {
  list-style-type: none;
  margin: 0;
  padding: 0;

}
.navbar .nav-link.dropdown-toggle {
  text-shadow: #CCC 2px 2px 2px;
}


/* ==================  WIKI Styles  ================== */
a.wk-page-disable {
  color: #CCCCCC;
  cursor: not-allowed;
}
a.wk-page-new,
a.wk-page-new.wk-page-disable {
  color: rgba(255, 0, 0, 0.70);
}
a.wk-link-external {
  color: #007700;
  cursor: alias;
}
.wk-content {
  position: relative;
}

.wk-content .wk-toolbar {
  top: 1px;
  background-color: #FFF;
  opacity: 0.80;
}
.wk-content .wk-toolbar {
  top: 60px;
  background-color: #FFF;
  opacity: 0.80;
}
.wk-content .wk-toolbar.revision {
  background-color: rgb(207, 244, 252);
}
/* ==================  WIKI .end  ================== */


/* TINY-MCE */
/* Remove promotion button */
.tox .tox-promotion {
  display: none;
}
/* Add disabled state */
.mce .disabled,
.mce-min .disabled {
  background-color: #E9ECEF;
}


/* style the wk-secret boxes inside of the WYSIWYG editor */
.mce-content-body .wk-secret {
  display: inline-block;
  height: 5em;
  width: auto;
}
.mce-content-body .wk-secret::after {
  content: "Secret: " attr(title);
  font-style: italic;
  color: #666;
  background-color: #009900;
}

.wk-content .wk-secret {
  display: inline-block;
  font-size: 0.8em;
  padding: 0.5em;
  /*border: 1px solid #EFEFEF;*/
  background-color: #FFF;
}
.wk-content .wk-secret .strong {
  font-weight: bold;
}
.wk-content .wk-secret .userpass .fa {
  opacity: 0.7;
}
.wk-content .wk-secret .userpass .fa:hover {
  opacity: 1;
  cursor: pointer;
}
.wk-content .wk-secret-list .wk-secret {
  overflow: hidden;
}


/* \Tk\Form */
form textarea {
  height: 150px;
}
form label {
  font-weight: 500;
}
form .form-check-label {
  font-weight: normal;
}


/* \Tk\Table */
.tk-form-inline {
  margin-bottom: .5rem;
}
/* position submit buttons for filter form */
.tk-form-inline .tk-inline-btn {
  padding-bottom: 0.3rem;
}
.tk-form-inline .tk-inline-btn .btn {
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}
.tk-table .tk-actions {
  padding-bottom: 0.75rem;
}

.tk-table table td a.btn {
  display: inline;
  --bs-btn-padding-y: .2rem;
  --bs-btn-padding-x: .4rem;
  --bs-btn-font-size: .75rem;
}

/* Header OrderBy Arrows */
th
{
  /*text-align: center;*/
}
td.key {
  width: 100%;
}
th a,
td a {
  display: inline-block;
}
th a {
  padding-right: 18px;
  position: relative;
}
th a:before,
th a:after {
  border: 4px solid transparent;
  content: "";
  display: block;
  height: 0;
  right: 5px;
  top: 50%;
  position: absolute;
  width: 0;
}
th a.desc:before {
  border-bottom-color: #666;
  margin-top: -9px;
}
th a.asc:after {
  border-top-color: #666;
  margin-top: 1px;
}

