

body {
  color: #5a5a5a;
  background-color: #FFF;
}


.navbar .nav-link.dropdown-toggle {
  text-shadow: #CCC 2px 2px 2px;
}
#btn-back-to-top {
  z-index: 9999;
  position: fixed;
  bottom: 20px;
  right: 20px;
  display: none;
  opacity: 0.6;
  border-radius: 50%;
  background-color: #FFF;
}

/** fix session crumbs col */
.tk-table td.mBreadcrumbs a {
    display: inline-block !important;
}


.fade-in {
	opacity: 1;
	animation-name: fadeInOpacity;
	animation-iteration-count: 1;
	animation-timing-function: ease-in;
	animation-duration: 250ms;
}
@keyframes fadeInOpacity {
	0% {
		opacity: 0.2;
	}
	100% {
		opacity: 1;
	}
}




/* ==================  WIKI Styles  ================== */
a.wk-page-disable {
    color: #CCCCCC;
    cursor: not-allowed;
}
a.wk-page-new,
a.wk-page-new.wk-page-disable {
    color: rgba(255, 0, 0, 0.70);
}
a.wk-link-external {
    color: #007700;
    cursor: alias;
}
.wk-content {
    position: relative;
}

.wk-content .sticky-top {
    z-index: 999;
}
.wk-content .wk-toolbar {
    top: 1em;
    background-color: #FFF;
    opacity: 0.80;
}
.wk-content .wk-toolbar.revision {
    background-color: rgb(207, 244, 252);
}

pre {
    display: block;
    padding: 9.5px;
    margin: 0 0 10px;
    font-size: 13px;
    line-height: 1.42857143;
    word-break: break-all;
    word-wrap: break-word;
    color: #333;
    background-color: #f5f5f5;
    border: 1px solid #ccc;
    border-radius: 4px;
}

.wk-page-edit .js-edit,
.wk-page-edit .css-edit {
    height: 500px;
}

.text-strike {
    text-decoration-line: line-through;
}

/* ==================  WIKI .end  ================== */


