@charset "utf-8";
/*
 * Base site CSS styles.
 *  
 * @author Michael Mifsud <info@tropotek.com>
 * @link http://www.tropotek.com/
 */
@import url('reset.css');
@import url('table.css');
@import url('form.css');


/*********************************
 *    P A G E     L A Y O U T    *
 *********************************/
div#wrapper {
  float: right;
  width: 100%;
  margin-left: -250px;
}
div#content {
  margin-left: 250px;
  padding: 10px;
}
div#navigation {
  float: left;
  width: 250px;
}
div#footer {
  clear: both;
  width: 100%;
}
#wrapper {
  background-color: #F2F8FF;
}
#content {
  background-color: #FFF;
  border-left: 1px solid #D3DFF3;
  border-bottom: 1px solid #D3DFF3;
}
#navigation {
  background-color: #F2F8FF;
}
#footer {
  background-color: #F2F8FF;
}
#footer p {
  text-align: right;
  padding: 4px 5px;
  margin: 0;
}
/********************************************
 *   H  T  M  L    E  L  E  M  E  N  T  S   *
 ********************************************/
body {
  background-color: #F2F8FF;
  color: #223;
  font: 0.90em Verdana, Tahoma, Arial, Helvetica, sans-serif;
}
/*--- Headings ------------------------------------------------------------------------*/
h1,h2,h3,h4,h5,h6 { /*font-family: "Times New Roman", Times, serif;*/
  font-weight: bold;
  color: #226;
  margin: 0.5em 0 0.5em 0;
}
h1 {
  font-size: 2.5em;
  border-bottom: 1px solid #D3DFF3;
} /* 30px */
h2 {
  font-size: 2.0em;
  border-bottom: 1px solid #D3DFF3;
} /* 24px */
h3 {
  font-size: 1.5em;
} /* 18px */
h4 {
  font-size: 1.33em;
} /* 16px */
h5 {
  font-size: 1.16em;
} /* 14px */
h6 {
  font-size: 1.16em;
} /* 14px */
/**
 * (en) reset monospaced elements to font size 16px in all browsers
 * @see: http://webkit.org/blog/67/strange-medium/
 */
textarea {
  font-size: 0.9em;
}
textarea,pre,code,kbd,samp,var,tt {
  font-family: Consolas, "Lucida Console", "Andale Mono",
    "Bitstream Vera Sans Mono", "Courier New", Courier;
}
/* Lists  */
ul,ol,dl {
  margin: 10px 0 10px 15px;
  padding: 0px 0px 0px 15px;
}
ul li {
  list-style-image: url('images/icons/bullet.png');
}
ol li {
  list-style-type: decimal;
}
ol ol li {
  list-style-type: lower-latin;
}
li {
  margin: 0;
  line-height: 1.5em;
}
dt {
  font-weight: bold;
}
dd {
  margin: 0 0 1em 0.8em;
}
/* general text formatting */
p {
  line-height: 1.2em;
  margin: 0 0 1em 0;
}
blockquote,cite,q {
  font-style: italic;
}
blockquote {
  margin: 0 0 1em 1.6em;
  color: #666;
}
strong,b {
  font-weight: bold;
}
em,i {
  font-style: italic;
}
pre,code,kbd,tt,samp,var {
  font-size: 100%;
}
kbd,samp,var {
  color: #444;
}
var {
  font-style: italic;
}
acronym,abbr {
  border-bottom: 1px #aaa dotted;
  font-variant: small-caps;
  letter-spacing: .07em;
  cursor: help;
}
sub,sup {
  font-size: 91.6667%;
}
/**
* Generic Content Classes
*
* (en) standard classes for positioning and highlighting
* @section content-generic-classes
*/
.highlight {
  color: #f60;
}
.dimmed {
  color: #888;
}
.info {
  background: #f8f8f8;
  color: #666;
  padding: 10px;
  margin-bottom: 0.5em;
  font-size: 91.7%;
}
.notice {
  background: #efe;
  color: #040;
  border: 2px #484 solid;
  padding: 10px;
  margin-bottom: 1em;
}
.warning {
  background: #ffe;
  color: #440;
  border: 2px #884 solid;
  padding: 10px;
  margin-bottom: 1em;
}
/*.error { background: #fee; color: #400; border: 2px #844 solid; padding: 10px; margin-bottom: 1em; }*/
.float_left {
  float: left;
  display: inline;
  margin-right: 1em;
  margin-bottom: 0.15em;
}
.float_right {
  float: right;
  display: inline;
  margin-left: 1em;
  margin-bottom: 0.15em;
}
.center {
  display: block;
  text-align: center;
  margin: 0.5em auto;
}
.left {
  float: left;
}
.right {
  float: right;
}



/*  C O N T E N T    S T Y L E S  */
.errorBox {
background-image: url('../images/icons/16/off.png');
background-repeat: no-repeat;
background-position: 5px 8px;
background-color: #FFF;
color: #000;
border: 2px solid #F00;
margin: 4px 0px;
padding: 8px 25px;
font-weight: normal;
}
.errorBox em {
color: #F00;
font-style: normal;
font-weight: bold;
}
.warningBox {
background-image: url('../images/icons/16/att.png');
background-repeat: no-repeat;
background-position: 5px 8px;
background-color: #FFF;
color: #000;
border: 2px solid #F60;
margin: 4px 0px;
padding: 8px 25px;
font-weight: normal;
}
.warningBox em {
color: #F60;
font-style: normal;
font-weight: bold;
}
.noticeBox {
background-image: url('../images/icons/16/ok.png');
background-repeat: no-repeat;
background-position: 5px 8px;
background-color: #FFF;
color: #000;
border: 2px solid #390;
margin: 4px 0px;
padding: 8px 25px;
font-weight: normal;
}
.noticeBox em {
color: #390;
font-style: normal;
font-weight: bold;
}


/**
* Tables | Tabellen
*
* (en) Generic classes for table-width and design definition
* @section content-tables
*/
table {
  border-collapse: collapse;
  margin: 0;
  margin-bottom: 0.5em;
  border-top: 1px #CCC solid;
}
table caption {
  font-variant: small-caps;
}
table.tFull {
  width: 100%;
}
table.tCenter {
  margin: 0 auto;
}
table.tFixed {
  table-layout: fixed;
}
th,td {
  padding: 0.5em;
}
th {
  font-weight: bold;
  color: #333;
  border-bottom: 1px #E0E0E0 solid;
  background: #e0e0e0;
}
th[scope="row"],tbody th.sub {
  background: #f0f0f0;
}
th {
  border-bottom: 1px solid #CCC;
  text-align: left;
}
td {
  border-bottom: 1px solid #CCC;
}
a {
  color: #369;
  text-decoration: none;
}
a:hover {
  color: #036;
  text-decoration: underline;
}
pre,code {
  padding: 5px !important;
  border: 1px dashed #D3DFF3;
  background: #EFEFEF;
  margin: 0.5em;
  overflow: auto;
  line-height: 1em;
  font-size: 0.8em;
}
.item-list .title {
  font-size: 1em;
  color: #444;
}
img {
  border: none;
}
hr {
  clear: none;
  /* So that horizontal rules don't clear out floating blocks */
  background: none;
  height: 1px;
  border-width: 0;
  color: #D3DFF3; /* IE 6/7 */
  background-color: #D3DFF3; /* FF */
  margin: 0.5em 0; /* FF */
  _margin: 0; /* IE6 */ 
  margin: 0; /* IE7 */
}
.flvplayer {
  border: 1px solid #D6E1F3;
}
object,embed {
  margin: 0;
  padding: 0;
  display: inline-block;
}
/* images (with optional captions) */
p.icaption_left {
  float: left;
  display: inline;
  margin: 0 1em 0.15em 0;
}
p.icaption_right {
  float: right;
  display: inline;
  margin: 0 0 0.15em 1em;
}
p.icaption_left img,p.icaption_right img {
  padding: 0;
  border: 1px #888 solid;
}
body p.icaption_left i,body p.icaption_left em,body p.icaption_left strong
  {
  display: inline;
}
body p.icaption_left i,body p.icaption_left em,body p.icaption_left strong,body p.icaption_right i,body p.icaption_right em,body p.icaption_right strong
  {
  display: block;
  overflow: hidden;
  margin-top: 0px;
  padding: 0.3em 0.5em;
  background-color: #CCC;
  font-weight: normal;
  font-size: 91.667%;
}

/************************************
 *    H E A D E R   L A Y O U T     *
 ************************************/
#header {
  overflow: hidden;
  background: transparent url('images/head_bg.jpg') repeat-x left 5px;
}
#header h1 {
  clear: both;
  padding: 5px 5px;
  margin: 0;
  border: none;
  font-size: 2.2em;
}
#header h1 a,#header h1 a:link {
  color: #369;
  text-shadow: 1px 1px 1px #BBD;
  text-decoration: none;
}
.welcome {
  float: left;
}
.welcome span {
  font-weight: bold;
}
.menu {
  list-style: none;
  float: left;
  margin: 0;
}
.menu li {
  list-style: none;
  float: left;
  margin: 0 0 0 4px;
  padding: 0 0 0 0;
}
.menu li a {
  margin: 0 0 0 0;
  padding: 0 0 0 0;
}
.menuTop { /*background-color: #CD4;*/
  padding: 0px 5px;
  background: #EBF3FF none repeat scroll 0 0;
  border-bottom: 1px solid #D3DFF3;
}
.menuTop .menu {
  float: right;
  margin: 2px 0px;
}
.menuTop .menu li {
  margin: 0px 5px;
}
.crumbs {
  background-color: #CCC;
  background: #EBF3FF url('images/head_bg.jpg') repeat-x left top;
  font-size: 10px;
  margin: 0;
  padding: 0px 5px;
  border-bottom: 1px solid #D3DFF3;
}
.crumbs span.label {
  display: block;
  float: left;
  font-weight: bold;
}

/*********************************************
 *    N A V I G A T I O N    L A Y O U T     *
 *********************************************/
.menuBox {
  padding: 10px 10px;
}
.menuBox h1,.menuBox h2,.menuBox h3,.menuBox h4,.menuBox h5,.menuBox h6
  {
  margin-top: 0.5em;
  font-size: 1.2em;
}

/************************************
 *    D K W I K I    S T Y L E S    *
 ************************************/
.editMenu {
  float: right;
  padding: 5px 0px;
  font-size: 0.8em;
}
a.dk-newWikiPage,a.dk-newWikiPage:link,.editMenu,.editMenu a {
  color: #D00;
}


/************************************
 *    S Y S T E M    S T Y L E S    *
 ************************************/
.contentMenu {
  margin: 0px 0px 10px 0px;
  float: right;
}
.contentMenu li a:hover {
  text-decoration: none;
}
.dk-button,button,.submit input,.contentMenu li {
  border: 1px solid #69C;
  padding: 1px 4px;
  margin: 4px;
  background-color: #FFF;
  text-decoration: none;
  color: #369;
}
.contentMenu li:hover,.dk-button:hover,button:hover,.submit input:hover
  {
  background-color: #E3E6FF;
  text-decoration: none;
  color: #036;
}
#content a.rss {
  display: block;
  float: right;
  background: #EEE url('images/icons/rss.png') center top no-repeat;
  width: 36px;
  height: 14px;
  margin: 10px 0px 0px 0px;
}
.readError p {
  margin: 0;
  padding: 0;
}
.readError {
  background: #fee url('images/icons/btnCancel.png') no-repeat 5px 8px;
  color: #400;
  border: 2px #844 solid;
  padding: 10px 10px 10px 25px;
  margin-bottom: 1em;
}
/**************************************
 *    C O N T E N T    M E S S A G E  *
 **************************************/
.message {
  background-color: #F2F8FF;
  border: 1px solid #D3DFF3;
  padding: 5px;
  margin-bottom: 10px;
  position: relative;
}
.message h1 {
  font-size: 1.8em;
  margin: 0;
  border: none;
}
.message p {
  margin: 0;
  padding: 0px;
  font-size: 0.8em;
}
.message p.warning {
  background-color: #FFF;
  color: #F00;
  /*margin: 2px 0px;
  margin-left: 60px;*/
  border: 1px solid #F00;
}
.message p.detail,.message p.contrib,.message p.permissions {
  font-style: italic;
}
.message p.permissions {
  position: absolute;
  top: 35px;
  right: 10px;
}
/**************************************
 *    S E A R C H   R E S U L T S     *
 **************************************/
/* Search Form */
#navigation .search {
  margin: 0 auto;
  padding: 10px 0px 0px 0px;
  width: 160px;
}
#fid-search-keywords {
  width: 110px;
  color: #666;
}
#SearchForm .dk-button {
  margin: 0;
}
form#SearchForm {
  width: auto;
  margin: 0;
  padding: 0;
  border: none;
}
/* Results */
.SearchResults .resultRow {
  margin: 10px 0px;
  color: #777;
}
.SearchResults .resultRow:hover {
  color: #000;
}
.SearchResults .resultRow h3 {
  margin: 15px 0px 0px 0px;
}
.SearchResults .resultRow h3 a {
  text-decoration: underline;
}
.SearchResults .resultRow .resultData {
  margin: 5px 0px;
  max-width: 650px;
}
.SearchResults .resultRow .resultData strong {
  font-weight: bold;
  color: #000;
}
.SearchResults .resultRow .resultData,.SearchResults .resultRow .resultExtra
  {
  margin-left: 10px;
}
.SearchResults .resultRow .resultExtra a,.SearchResults .resultRow .resultExtra
  { /*font-style: italic;*/
  color: #259225;
  font-size: 0.9em;
}
.SearchResults .resultRow .resultExtra .url {
  font-weight: bold;
}
.resultFoot {
  width: 230px;
  margin: 10px auto;
}

/**************************************
 *    L O G I N    P A G E            *
 **************************************/
#_Login {
  border: 1px solid #D3DFF3;
  width: 600px;
  padding: 10px 20px;
}
#_Login h2 { /*font-size: 1.3em;*/
  border-bottom: 1px solid #D3DFF3;
}
#_Login .notices a {
  font-weight: bold;
}
form#_Login div.error {
  margin: 0 !important;
}



.Com_Ui_Table_Base .pager {
  clear: both;
  padding: 0px;
}
.Com_Ui_Table_Base .pager a:hover {
  text-decoration: none;
}
.Com_Ui_Table_Base .pager table {
  width: 100%;
}
.Com_Ui_Table_Base .pager td {
  height: auto;
  padding: 4px 4px;
  white-space: nowrap !important;
  vertical-align: top;
  background-color: #D6DFF7;
}
.Com_Ui_Table_Base .pager td.p {
  width: 250px;
}
.Com_Ui_Results {
  float: left;
}
.Com_Ui_Pager {
  float: none;
}
.Com_Ui_Limit {
  float: right;
}
.Com_Ui_Limit ul,.Com_Ui_Pager ul {
  list-style-type: none;
}
.Com_Ui_Limit li,.Com_Ui_Pager li {
  float: left;
  display: inline;
  margin: 0 5px 0 0;
  display: block;
}
.Com_Ui_Limit li.selected a,.Com_Ui_Pager li.selected a {
  font-weight: bold;
  color: #333;
}
.Com_Ui_Pager li.off a {
  color: #000;
  text-decoration: none;
}


/* jquery.passroids.js */
#psr_score {
  display: inline;
  padding-left: 10px;
}
#psr_verify {
  display: inline;
  padding-left: 10px;
}
#psr_strength_notice {
  display: inline;
  padding-left: 10px;
}
.psr_Weak {
  color: #A52A2A;
}
.psr_Medium {
  color: #FFA500;
}
.psr_Strong {
  color: #3DBE5E;
}
.psr_Excellent {
  color: #416EC2;
}

/** C O M E N T S  **/
.comments {
  margin: 10px 10px 0px 10px;
  padding: 10px 10px;
  border: 1px solid #D3DFF3;
  background-color: #F2F8FF;
}
.Wik_Modules_Comment_List {
  border-bottom: 1px solid #D3DFF3;
  padding-bottom: 20px;
}
form#Comment {
  display: block;
  margin: 20px 0px 0px 0px;
  padding: 0px 0px 10px 0px;
  border-width: 0px 0px 0px 0px;
}
.comments .resultRow {
  margin: 10px 10px;
}
.comments .resultRow .del {
  float: right;
}
.comments .resultRow .head {
  background-color: #FFF;
  border: 1px solid #D3DFF3;
  margin: 0px;
  padding: 5px;
}
.comments .resultRow h4 {
  margin: 0;
  padding: 0;
  font-size: 1.2em;
}
.comments .resultRow .created {
  font-style: italic;
  margin-top: 0px;
}
.comments .resultRow .content {
  margin: 0px 10px;
  padding: 10px;
  background-color: #FFF;
  border: 1px solid #D3DFF3;
  border-width: 0px 1px 1px 1px;
  line-height: 1.4em;
}

#content .comments a.rss {
  display: inline-block;
  float: none;
  margin: 0px 0px 3px 0px;
  vertical-align: middle;
}

.Auth_Password .icon {display: none;}

#navigation ul, #navigation ol, #navigation dl {
    margin: 5px 0 5px 5px;
    padding: 0 0 0 5px;
	font-size: 10px;
}
