
.wiki-content a.wiki-page-new {
  color: #d00;
}

.wiki-content img {
  margin: 0 10px;
  max-width: 100%;
}

.wiki-content .left {
  float: left;
}

.wiki-content .right {
  float: right;
}

.wiki-content .text-top {
  vertical-align: text-top;
}

.wiki-content .text-bottom {
  vertical-align: text-bottom;
}

.wiki-content .text-baseline {
  vertical-align: baseline;
}

.wiki-toc {
  position: fixed;
  right: 5px;
  top: 5px;
  width: 100px;
  height: 30px;
  line-height: 30px;

  border: 1px solid #666;
  background: #CCC;
  text-align: center;
}
.wiki-toc:after {
  color: #333;
  content: "TOC";

}
