{
    auto_https disable_redirects
    skip_install_trust
    #default_sni 192.168.0.7
}

http://:80 {
    root * /app/public
    encode zstd gzip
    php_server
}

https://localhost:443, https://192.168.0.7:443 {
    bind 0.0.0.0
    tls internal

    root * /app/public
    encode zstd gzip
    php_server
}
