{
    # Optional: Disables global automatic HTTPS redirects if needed
    auto_https disable_redirects
}

http://localhost:80, https://localhost:443 {
    # Bind to all interfaces for Docker
    bind 0.0.0.0

    # Enable internal TLS for https://localhost
    tls internal

    # FrankenPHP root
    root * /app/public
    encode zstd gzip
    php_server
}